
.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
  border-radius: 6px;
}

.link-button.medium {
  padding: 8px;
}

.link-button:hover {
  background:rgb(202, 214, 214);
}