
.poll-container {
  margin: 10px;
  margin-bottom: 50px;
  color: #213144;
  font-family: Open Sans,Arial,sans-serif;
}
.poll-container h2 {
  font-size: 28px;
  line-height: 38px;
  color: #213144;
  font-weight: 400;
}

.poll-body {
  width: 600px;
}
.poll-body section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.poll-body section span {
  font-size: 14px;
}

.poll-options {
  display: flex;
  box-sizing: border-box;
}

.poll-option-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 56px;
  border-top: 1px solid #dae0ea;
  border-left: 1px solid #dae0ea;
  border-bottom: 1px solid #dae0ea;
  overflow: hidden;
  box-sizing: border-box;
}
.poll-option-box:last-of-type {
  border-right: 1px solid #dae0ea;
}
.poll-option {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 2px;
  width: 34px;
  height: 34px;
}

.poll-option-box:hover {
  border: 2px solid #1b6ec2;
  cursor: pointer;
}

.poll-option.selected {
  color: #fff;
  border: 1px solid #1b6ec2;
  border-radius: 50%;
  background-color: #1b6ec2;
  transition: color .15s ease-in-out;
}
