
.btn {
  color: white;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  white-space: nowrap;
  vertical-align: middle;
}

.btnChildren {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  background-color: rgb(91, 91, 238);
  color: white;
}

.primary:hover,
.primary:active {
  background-color: rgb(135, 135, 240);
}

.primary.disabled {
  background-color: red;
  cursor: default;
}

.secondary {
  background-color: white;
  color: black;
}

.large {
  min-width: 100px;
  padding: 10px 34px;
  font-size: 18px;
}

.medium {
  min-width: 80px;
  padding: 10px 34px;
  font-size: 16px;
}

.small {
  min-width: 60px;
  padding: 6px 18px;
  font-size: 12px;
}

/*
  prefer button styled a link over empty anchor for a11y
  https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/blob/main/docs/rules/anchor-is-valid.md
*/
.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
  border-radius: 6px;
}

.link-button.medium {
  padding: 8px;
}

.link-button:hover {
  background:rgb(202, 214, 214);
}
