
.schema-parser {
  width: 100vw;
}

.text-area-container {
  display: flex;
  flex-direction: column;
}

.toast-container {
  width: 800px;
}

.schema-data-containers {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px 0;
}

.json-data,
.schema-data {
  width: 500px;
  height: 500px;
}
