html, body {
  padding: 0;
  margin: 0;

}
.app {
  font-family: sans-serif;
  height: 100vh;
}

body {
  box-sizing: border-box;
  width: 90%
}

.content-container {
  display: flex;
  height: 100vh;
}

.header-offset {
  height: 50px;
}

.router-container {
  display: flex;
}

.body-container {
  margin: 0 auto;
  max-width: 768px;
}
